<template>
  <v-app>
    <top-bar
      title="Nibo Wallet"
    >
    </top-bar>
    <v-main>
      <v-container
        width="800px"
      >
        <h2>Your Transactions</h2>
        <transaction-list
          :transactions="transactions"
        >
        </transaction-list>
      </v-container>
    </v-main>

    <v-dialog
      v-model="dialog"
      persistent
      max-width="600px"
    >
      <template v-slot:activator="{ on, attrs }">
        <v-btn
          dark
          bottom
          right
          color="pink"
          fab
          fixed
          v-bind="attrs"
          v-on="on"
        >
          <v-icon>mdi-plus</v-icon>
        </v-btn>
      </template>
      <v-card>
        <v-card-title>
          <span class="headline">Send OFX File</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col
                cols="12"
              >
                <v-file-input
                  show-size
                  v-model="ofxfile"
                  label="Select OFX file"
                  outlined
                ></v-file-input>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="red darken-1"
            text
            @click="dialog = false"
          >
            Close
          </v-btn>
          <v-btn
            color="blue darken-1"
            text
            @click="sendFile"
          >
            Send
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-snackbar
        v-model="snackbar"
      >
        {{ snackbarMsg }}

        <template v-slot:action="{ attrs }">
          <v-btn
            color="red"
            text
            v-bind="attrs"
            @click="snackbar = false"
          >
            Close
          </v-btn>
        </template>
      </v-snackbar>
  </v-app>
</template>

<script>
import TopBar from '@/components/TopBar';
import TransactionList from '@/components/TransactionList';
import { mapState, mapActions } from 'vuex';

export default {
  name: 'Home',
  data: () => ({
    dialog: false,
    ofxfile: [],
    snackbarMsg: '',
    snackbar: false
  }),
  components: {
    TopBar,
    TransactionList
  },
  mounted() {
    if (!this.user.firstname) {
      this.$router.push({ name: 'login' });
    } else {
      this.fetchTransactions();
    }
  },
  computed: {
    ...mapState([ 'user', 'transactions' ])
  },
  methods: {
    ...mapActions([ 'fetchTransactions', 'sendOFX' ]),
    sendFile() {
      this.dialog = false;
      let formData = new FormData();
      formData.append('file', this.ofxfile);
      this.sendOFX(formData)
        .then(({ count }) => {
          this.ofxfile = [];
          this.snackbarMsg = 'A total of ' + count + ' transactions have been added!';
          this.snackbar = true;
          this.fetchTransactions();
        })
        .catch(() => {
          this.snackbarMsg = 'An error ocurred while importing your transactions!';
          this.snackbar = true;
        });
    }
  }
}
</script>

<style>
  h2 {
    padding: 10px 0;
    color: #666666;
  }
</style>