<template>
  <v-app id="inspire">
    <v-main>
      <v-container
        class="fill-height"
        fluid
      >
        <v-row
          align="center"
          justify="center"
        >
          <v-col
            cols="12"
            sm="8"
            md="4"
          >
            <v-card
              class="elevation-12"
            >
              <v-toolbar
                color="primary"
                dark
                flat
              >
                <v-toolbar-title>{{ title }}</v-toolbar-title>
              </v-toolbar>
              <v-card-text>
                <v-form
                  id="login-form"
                  ref="loginForm"
                  v-model="loginForm"
                >
                  <v-text-field
                    label="Email"
                    name="email"
                    v-model="email"
                    :rules="emailRules"
                    prepend-icon="mdi-email"
                    type="text"
                  ></v-text-field>
                  <v-text-field
                    id="password"
                    label="Password"
                    name="password"
                    v-model="password"
                    prepend-icon="mdi-lock"
                    type="password"
                  ></v-text-field>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                  text
                  color="primary"
                  @click="toSignUp"
                >
                  Sign Up
                </v-btn>
                <v-btn
                  color="primary"
                  type="submit"
                  @click="performLogin"
                >
                  <v-icon left>mdi-check</v-icon>
                  Login
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
      <v-snackbar
        v-model="snackbar"
      >
        {{ errorMsg }}

        <template v-slot:action="{ attrs }">
          <v-btn
            color="red"
            text
            v-bind="attrs"
            @click="snackbar = false"
          >
            Close
          </v-btn>
        </template>
      </v-snackbar>
    </v-main>
  </v-app>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  name: 'Login',
  data: () => ({
    loginForm: false,
    email: '',
    emailRules: [
      v => !!v || 'Email is required',
      v => /.+@.+/.test(v) || 'Email must be valid',
    ],
    password: '',
    snackbar: false,
    errorMsg: '',
  }),
  props: {
    title: {
      type: String,
      default: 'Login Form'
    }
  },
  methods: {
    ...mapActions([ 'loginUser' ]),
    toSignUp() {
      this.$router.push({ name: 'sign-up' });
    },
    performLogin() {
      this.loginUser({ email: this.email, password: this.password })
        .then(() => {
          this.$router.push({ name: 'home' });
        })
        .catch(() => {
          this.errorMsg = "User not found!";
          this.snackbar = true;
        });
    }
  }
}
</script>
