<template>
  <v-app id="inspire">
    <v-main>
      <v-container
        class="fill-height"
        fluid
      >
        <v-row
          align="center"
          justify="center"
        >
          <v-col
            cols="12"
            sm="8"
            md="4"
          >
            <v-card
              class="elevation-12"
            >
              <v-toolbar
                color="primary"
                dark
                flat
              >
                <v-toolbar-title>{{ title }}</v-toolbar-title>
              </v-toolbar>
              <v-card-text>
                <v-form>
                  <v-text-field
                    label="First Name"
                    name="firstName"
                    prepend-icon="mdi-account"
                    v-model="firstName"
                    :rules="firstNameRules"
                    type="text"
                  ></v-text-field>
                  <v-text-field
                    label="Last Name"
                    name="lastName"
                    prepend-icon="mdi-user"
                    v-model="lastName"
                    :rules="lastNameRules"
                    type="text"
                  ></v-text-field>
                  <v-text-field
                    label="Email"
                    name="email"
                    prepend-icon="mdi-email"
                    v-model="email"
                    :rules="emailRules"
                    type="text"
                  ></v-text-field>
                  <v-text-field
                    id="password"
                    label="Password"
                    name="password"
                    prepend-icon="mdi-lock"
                    v-model="password"
                    :rules="passwordRules"
                    type="password"
                  ></v-text-field>
                  <v-text-field
                    id="confirmPassword"
                    label="Confirm Password"
                    name="confirmPassword"
                    prepend-icon="mdi-lock"
                    v-model="confirmPassword"
                    :rules="confirmPasswordRules"
                    type="password"
                  ></v-text-field>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                  text
                  color="primary"
                  @click="toLogin"
                >
                  Login
                </v-btn>
                <v-btn
                  color="primary"
                  @click="performSignUp"
                >
                  <v-icon left>mdi-check</v-icon>
                  Sign Up
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
      <v-snackbar
        v-model="snackbar"
      >
        {{ errorMsg }}

        <template v-slot:action="{ attrs }">
          <v-btn
            color="red"
            text
            v-bind="attrs"
            @click="snackbar = false"
          >
            Close
          </v-btn>
        </template>
      </v-snackbar>
    </v-main>
  </v-app>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  name: 'SignUp',
  data: () => ({
    firstName: '',
    firstNameRules: [
      v => !!v || 'Please inform us your first name'
    ],
    lastName: '',
    lastNameRules: [
      v => !!v || 'Please inform us your last name'
    ],
    email: '',
    emailRules: [
      v => !!v || 'Email is required',
      v => /.+@.+/.test(v) || 'Email must be valid',
    ],
    password: '',
    passwordRules: [
      v => !!v || 'Password is required',
    ],
    confirmPassword: '',
    confirmPasswordRules: [
      v => !!v || 'You must confirm your password',
    ],
    snackbar: false,
    errorMsg: '',
  }),
  props: {
    title: {
      type: String,
      default: 'Sign Up Form'
    }
  },
  methods: {
    ...mapActions([ 'signUpUser' ]),
    toLogin() {
      this.$router.push({ name: 'login' });
    },
    performSignUp() {
      this.signUpUser({
        firstName: this.firstName,
        lastName: this.lastName,
        email: this.email,
        password: this.password,
        confirmPassword: this.confirmPassword
      })
        .then(() => {
          this.toLogin();
        })
        .catch(() => {
          this.errorMsg = "Could not sign user up!";
          this.snackbar = true;
        });
    }
  }
}
</script>
