<template>
  <v-app-bar
    app
    dark
    color="primary"
  >
    <v-toolbar-title
      class="topbar-title ml-0 pl-4"
    >
      <span class="hidden-sm-and-down">{{ title }}</span>
    </v-toolbar-title>
    <v-spacer></v-spacer>
    <span id="greetings">Hello, {{ user.firstname }}!</span>
    <v-btn
      icon
      @click="performLogout"
    >
      <v-icon>mdi-logout-variant</v-icon>
    </v-btn>
  </v-app-bar>
</template>

<script>
import { mapState } from 'vuex'

export default {
    name: 'TopBar',
    props: {
      title: {
        type: String,
        default: ''
      }
    },
    computed: {
      ...mapState([ 'user' ])
    },
    methods: {
      performLogout() {
        this.$router.push({ name: 'login' });
      }
    }
}
</script>

<style>
  .topbar-title {
    width: 300px;
  }

  #greetings {
    margin-right: 10px;
  }
</style>