<template>
  <v-row
    justify="center"
  >
    <v-expansion-panels
      popout
    >
      <v-expansion-panel
        v-for="(transaction, i) in transactions"
        :key="i"
      >
        <v-expansion-panel-header>
          <span
            v-if="transaction.amount > 0"
            class="transaction-amount transaction-credit"
          >
            {{ formatCurrency(transaction.amount) }}
          </span>
          <span
            v-else
            class="transaction-amount transaction-debit"
          >
            {{ formatCurrency(transaction.amount) }}
          </span>
            <span class="transaction-memo">{{ transaction.memo }}</span>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          Date: {{ transaction.datePosted }}
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
  </v-row>
</template>

<script>
export default {
  props: {
    transactions: {
      type: Array
    },
  },
  methods: {
    formatCurrency: (amount) => {
      const type = amount > 0 ? 'CREDIT' : 'DEBIT';
      return type + ' $ ' + amount.toFixed(2);
    }
  }
}
</script>

<style>
  .transaction-amount {
    font-weight: bold;
  }

  .transaction-amount.transaction-debit {
    color: red
  }

  .transaction-amount.transaction-credit {
    color: green
  }
</style>